@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$background-body: #111111;
$text-color: #ffffff;
$text-fontFamily: 'Montserrat', sans-serif