.auth{
  min-height: calc(100vh - 40px);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

h1{
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

#change-form-type{
  background: none;
}

footer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.auth-button{
  background: none;
  text-decoration: underline;
}
.auth-inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
}